<h1 style="text-align:center;">Add Member</h1>

<center><form action="/{{groupName}}/add-member" method ="POST">
    Name:<input type="text" name="name">
    Date:<input type="text" name="date">
    Time:<input type="text" name="time">
    <input type="submit" value="Add">
</form></center>

<a href="/"><p style="text-align:center">Home</p></a>