<style>
table, th, td {
  border:1px solid black;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<body>

<table class="center">
  <tr>
    <th>Name</th>
    <th>Date</th> 
    <th>Time</th>
  </tr>
  {{#each currentGroupMembers}}
  <tr>
    <td style="text-align: center; vertical-align: middle;">{{this.name}}</td>
    <td style="text-align: center; vertical-align: middle;">{{this.date}}</td>
    <td style="text-align: center; vertical-align: middle;">{{this.time}}</td>
  </tr>
  {{/each}}
</table>

</body>

<a href="/{{groupName}}/add-member"><p style="text-align:center">Add member</p></a>
<a href="/"><p style="text-align:center">Home</p></a>