<style>
table, th, td {
  border:1px solid black;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
<body>

<table class="center">
  <tr>
    <th>Name</th>
  </tr>
  {{#each groups}}
  <tr>
    <td style="text-align: center; vertical-align: middle;"><a href="/{{this.name}}">{{this.name}}</a></td>
  </tr>
  {{/each}}
</table>

</body>

<a href="/create-group"><p style="text-align:center">Create Group</p></a>
<a href="/delete-group"><p style="text-align:center">Delete Group</p></a>
