<h1 style="text-align:center;">Register</h1>


<center><form action="/register" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form></center>

<a href="/login"><p style="text-align:center">Login</p></a>
